{% extends "parent.html" %}

{% load static %}

{% block title %}
Actualizar post!
{% endblock %}

{% block logo %}
{% endblock %}

{% block content %}
    <header class="py-5 bg-light border-bottom mb-4">
        <div class="container">
            <div class="text-center my-5">
                <h1>Actualizar!</h1>
                <form action="" method="POST">{% csrf_token %}

                    <table>
                        {{ myForm.as_table }}
                    </table>
  
                    <button type="submit">Editar</button>
                </form>
            </div>
        </div>
    </header>
{% endblock %}